
body {
  background-image: url("images/pattern-background-desktop.svg");
  background-color: hsl(225, 100%, 94%);
}

span {
  color: #A19882;
}

.card {
  text-align: center;
  margin: 50px auto;
}

.bigger-card {
  border-radius: 5%;
  margin-top: 80px;
}

.rounded-top {
    border-top-left-radius: 1.3rem!important;
    border-top-right-radius: 1.3rem!important;
}

.card-title{
  font-family: 'Montserrat', sans-serif;
}

.card-text {
  color: #A19882;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
}

.inner-card {
  background-color: #F9F9F9;
  border: 0;
  border-radius: 5%;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 9px;
}

.inner-card-body {
  padding: 0 20px;
}

.music-image {
  position: relative;
  right: 20px;
  bottom: 10px;
}

.inner-card-content {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  display: inline-block;
  margin-top: 5px;
  position: relative;
  right: 15px;
  top: 5px;
}

.card-link {
  font-family: 'Montserrat', sans-serif;
  padding: 0 30px;
  left: 50px;
  bottom: 10px;
  position: relative;
  text-decoration: underline;
  margin-left: 20px;
  color: #3D087B;
  font-size: 0.8rem;
}

.payment-button {
  margin: 30px auto;
  background-color: #1E1FCD;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  border: 0;
  width: 100%;
}

.cancel-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  color: #A19882;
  display: inline;
  position: relative;
  bottom: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Hover states */

.card-link:hover {
  color: #C490E4;
}

.payment-button:hover {
  background-color: #5D54A4;
}

.cancel-link:hover {
  color: #3D087B;
  text-decoration: none;
}
